.red {
    background-color: red;
}
.blue {
    background-color: turquoise;
}
.gold {
    background-color: gold;
}

p {
    font-size: 2em;
    font-weight: bold;
}
.square {
    display: grid;
    margin: 15px;
    width: 300px;
    height: 150px;
    text-align: center;
}
.container{
    display: grid;
    
}

@media (min-width: 1000px) {
    
}